@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{ /*Resetando a pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.center{ 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    background: linear-gradient(50deg, rgb(64, 33, 201),rgb(12, 4, 129));
    padding:20px 0;
    border-bottom: 2px solid rgb(12, 64, 95);
}

.titulo{
    color: rgb(230, 230, 235);
    font-size: 15px;
    font-weight: normal;
    font-family: "Titillium Web", sans-serif;
}

.form{
    padding: 100px;
    margin-left: 500px;
}

footer{ /* modificação para o bloco da rodapé*/
    background: linear-gradient(50deg, rgb(64, 33, 201),rgb(12, 4, 129));
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 50px;
}

.conteudo{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(3, 3, 3)
    
}

form label{
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 5px;
    font-size: 15px;
    color: rgb(3, 3, 3)
}

form div{
    margin: 20px;
    text-align: center;
}

form input{
    width: 35%;
}

form button{
    margin-top: 20px;
    font-size: 15px;
}

#rodape{ /* id para modificação do que esta escrito no rodapé*/
    font-family: "Titillium Web", sans-serif;
    color: rgb(238, 234, 234);
    margin-left: 5%;
    margin-top: 1%;
}
